@use "../custom" as *;
@use "../components/mixins" as *;
.intro-section {
    padding-top: 5rem;
}
// class added with javascript when client scrolls
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 4rem;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-align: center;
    padding: 0rem;
    background-color: white;
    .accordion-item {
        transition: all 0.4s;
        padding-bottom: 0.4rem;
    }
    .categories__accordion {
        &-btn {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            @include media-breakpoint-down(sm) {
                font-size: 0.6rem;
            }
        }

        &-body {
            padding: 0rem;
            li {
                @include media-breakpoint-down(md) {
                    font-size: 0.8rem;
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        top: 3rem;
    }
}
.categories__accordion {
    transition: all 0.4s;

    .accordion-item {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        border-width: 0;
    }
    &-btn {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.9rem;
        color: $primary;
        @include media-breakpoint-down(md) {
            font-size: 0.7rem;
        }
    }
    &-body {
        padding: 1rem;
    }
    &-list {
        a {
            text-decoration: none;
        }
        @include media-breakpoint-down(md) {
            font-size: 0.8rem;
        }
    }
}
.products {
    // .card {
    //     background-color: white;
    //     border: none;
    //     transition: all 0.5s;
    //     box-shadow: 1px -2px 3px -2px rgba(122, 122, 122, 0.89), 0 5px 5px rgba(0, 0, 0, 0.22);
    //     &-footer {
    //         border-color: transparent;
    //         color: $white;
    //         font-weight: 800;
    //         font-size: 0.9rem;

    //         font-family: "Dancing Script", cursive;

    //         i {
    //             color: $white;
    //         }
    //     }
    //     &:hover {
    //         box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    //         transition: all 0.2s cubic-bezier(0.1, 0.6, 0.2, 0.5);
    //     }
    //     &:hover::after {
    //         transition: 0.5s;
    //     }
    // }
}
