@use'../custom' as *;
@use'../components/mixins' as *;

.btn-rounded {
    position: relative;
    padding: 0.9rem 4.37rem 0.9rem 1.25rem;
    font-weight: 600;
    margin: 0;
    min-width: 125px;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    transition: all .5s ease;

    span {
        position: absolute;
        background-color: $primary;
        width: 2.2rem;
        height: 2.2rem;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        border-radius: 50%;
        transition:  250ms ease;

    }
    i {
        color: $white;
        size: 1rem;
        line-height: 2.35rem;
        // transition: all ease-in 0.5s;

    }
    &:hover {
        @include gradient;
        color: $white;
        // transition: all ease 0.4s;
        // transition: all ease-in 0.5s;

        span {
            background-color: rgba($hana-gray, 0.6);
            // transition: all ease-in 0.5s;

        }
    }
   
    @include media-breakpoint-down(md) {
        font-size: 0.8rem;    
        padding: 0.9rem 0.5rem 0.9rem 0.25rem;

        i{
            size: 0.8rem;
        }
        span{
            right: 0.1rem;
        }

    }
}
